{% extends 'base.html' %}

{% block body %}

<h1> About </h1>

<p>
    I worked with <a
        href="http://www.google.com/url?q=http%3A%2F%2Fdi.ens.fr%2Fsierra&sa=D&sntz=1&usg=AOvVaw2jP9szyLfj6U2Bp08ctLYh">SIERRA</a>/<a
        href="http://www.google.com/url?q=http%3A%2F%2Fwww-rocq.inria.fr%2F&sa=D&sntz=1&usg=AOvVaw1Q1Sih4WlPP3elvyrTV4nx">INRIA</a>
    in Paris and with MLS/XRCE in Grenoble towards a doctoral degree defending it in February of 2014 graduating from
    the <a href="https://www.sorbonne-universite.fr">University of Paris</a>. I was advised by Cedric, Francis and
    Guillaume and earlier worked with Edmond.
</p>

<hr>

<div id="exp">
    <h1>Experience</h1>

    <div class="rightbox">
        <div class="rb-container">
            <ul class="rb">
                <li class="rb-item" ng-repeat="itembx">
                    <div class="dsgn">
                        Applied Scientist @ <a href="https://www.amazon.science/author/anil-nelakanti"> Amazon </a>
                    </div>
                    <div class="timestamp">
                        Feb 2017 - Present
                    </div>
                    <div class="item-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo adipisci
                        asperiores debitis ipsum, eum quas aut doloribus facere voluptatem ducimus! Eveniet voluptate
                        nemo
                        labore unde reiciendis, dolorum necessitatibus deleniti libero.</div>

                </li>
                <li class="rb-item" ng-repeat="itembx">
                    <div class="dsgn">
                        Visiting Faculty @ <a href="https://iitbhu.ac.in"> Indian Institute of
                            Technology(BHU), Varanasi </a>
                    </div>
                    <div class="timestamp">
                        Jul 2014 - Present
                    </div>
                    <div class="item-title">I teach programming courses using C and Python for both CSE and non-CSE
                        majors
                        and other core courses at the CSE department including software engineering, pattern recognition
                        and
                        machine learning. I also advice undergraduate students on projects and coordinate institute-wide
                        automation activity.</div>

                </li>

                <li class="rb-item" ng-repeat="itembx">
                    <div class="dsgn">
                        Data Science Engineer @ <a href="https://in.linkedin.com/company/cube26"> Cube26 </a>
                    </div>
                    <div class="timestamp">
                        Sep 2015 - Jan 2017
                    </div>
                    <div class="item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
                        beatae
                        rerum, facere blanditiis nihil nulla sint, molestiae delectus aspernatur minima est voluptate.
                        Necessitatibus perferendis nisi eligendi sunt, impedit quam molestiae.</div>

                </li>

                <li class="rb-item" ng-repeat="itembx">
                    <div class="dsgn">
                        Engineer @ <a href="https://www.xerox.com/en-in"> Xerox </a>
                    </div>
                    <div class="timestamp">
                        Dec 2010 - Feb 2014
                    </div>
                    <div class="item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui error, quasi at
                        harum rerum unde veritatis possimus? Autem, dignissimos iusto qui aut reprehenderit possimus
                        aliquid
                        facere corporis amet neque laboriosam!</div>

                </li>

                <li class="rb-item" ng-repeat="itembx">
                    <div class="dsgn">
                        Internship @ <a href="https://www.inria.fr/en"> National Institute for Research in Digital
                            Science
                            and Technology (INRIA) </a>
                    </div>
                    <div class="timestamp">
                        Jun 2009 - May 2010
                    </div>
                    <div class="item-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui error, quasi at
                        harum rerum unde veritatis possimus? Autem, dignissimos iusto qui aut reprehenderit possimus
                        aliquid
                        facere corporis amet neque laboriosam!</div>

                </li>

            </ul>

        </div>
    </div>
</div>

<hr>

<div id="educ">
    <h1>Education</h1>
    <div class="rightbox">
        <div class="rb-container">
            <ul class="rb">
                <li class="rb-item" ng-repeat="itembx">
                    <div class="dsgn">
                        Doctor of Philosophy (Ph.D) @ <a href="https://www.amazon.science/author/anil-nelakanti"> Pierre
                            and
                            Marie Curie University </a>
                    </div>
                    <div class="timestamp">
                        2010 - 2014
                    </div>
                    <div class="item-title">We developed a 'frequentist' alternative to best performing language models
                        in
                        natural language processing (Kneser-Ney smoothing) using structured penalties (tree-structured
                        regularization). The above non-parametric statistical model was used with quicker optimization
                        method (proximal gradient methods) and efficient data structures (suffix trees and max-heaps) to
                        scale to millions of parameters. The results also throw light on their similarity in behavior to
                        Hierarchical Pitman-Yor Process in Bayesian learning which performs similar to Kneser-Ney
                        smoothing
                        by producing distributions with 'sufficiently heavy tails.

                        The method is generic and applies to any sequence of discrete symbols with the advantage that it
                        can
                        capture 'longer' Markov dependencies without 'overfitting' that were otherwise not possible.
                        We also studied various techniques for hierarchical organization for classification with large
                        number of classes, a computationally hard problem with wide application.</div>

                </li>
                <li class="rb-item" ng-repeat="itembx">
                    <div class="dsgn">
                        Master's @ <a href="https://iitbhu.ac.in"> Grenoble INP - UGA </a>
                    </div>
                    <div class="timestamp">
                        2009 - 2010
                    </div>
                    <div class="item-title">We studied calibration of muti-camera systems by reducing the problem to
                        solving
                        polynomials in multiple variables similar to the classical '5-point algorithm' for two-camera
                        systems. We used Grobner Basis methods and Buchberger's algorithm from algebraic geometry to
                        find
                        roots of the polynomials.</div>

                </li>

                <li class="rb-item" ng-repeat="itembx">
                    <div class="dsgn">
                        B.Tech Hons., @ <a href="https://in.linkedin.com/company/cube26"> International Institute of
                            Information Technology (IIIT), Hyderabad </a>
                    </div>
                    <div class="timestamp">
                        2004 - 2008
                    </div>
                    <div class="item-title">Apart from required coursework I worked on problems in computer vision
                        (image
                        mapping, scene reconstruction) and robotics (path planning).</div>

                </li>

            </ul>

        </div>
    </div>
</div>
{% endblock body %}